{% extends 'core/base.html' %}
{% block content %}
<div class=" container mt-5">
   <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
   
   <!---first row first column-->
   <div  class="row text-center text-white mb-5">
   <div class="col sm-4">
    <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
    <h3>SEO</h3>
    <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </p>



    <!--1st row ,2nd column-->     
   </div>
   <div class="col sm-4">
    <i class="fas fa-palette fa-2x mb-3 i-color "></i>
    <h3>WEB DESIGN</h3>

    <p  class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </p>
   </div>


   <!--1st row,3rd column-->
   <div class="col sm-4">
    <i class="fas fa-code fa-2x mb-3 i-color"></i>
    <h3>WEB DEVELOPMENT</h3>
    <p  class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </p>
   </div>

   </div>


   <!--2nd row,1st column-->
   <div  class="row text-center text-white mb-5">
    <div class="col sm-4">
        <i class="fab fa-android fa-2x mb-3 i-color"></i>
     <h3>ANDROID</h3>
     <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
 
 

    <!--2nd row,2nd column-->
    </div>
    <div class="col sm-4">
        <i class="fab fa-apple fa-2x mb-3 i-color"></i>
     <h3>IOS</h3>
 
     <p  class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
    </div>


    <!--2nd row,3rd column-->
    <div class="col sm-4">
     <i class="fas fa-ad fa-2x mb-3 i-color"></i>
     <h3>ADVERTISING</h3>
     <p  class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
    </div>
 
    </div>



    <!--3rd row,1st column-->
    <div  class="row text-center text-white mb-5">
        <div class="col sm-4">
         <i class="fas fa-pen fa-2x mb-3 i-color"></i>
         <h3>LOGO DESIGN</h3>
         <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
        </div>


        <!--3rd row,2nd column-->
        <div class="col sm-4">
         <i class="fas fa-database fa-2x mb-3 i-color "></i>
         <h3>HOSTING</h3>
     
         <p  class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
        </div>
     
        <div class="col sm-4">
         <i class="fas fa-headset fa-2x mb-3 i-color"></i>
         <h3>SUPPORT</h3>
         <p  class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
        </div>
     
        </div>
   
















</div>
{% endblock content%}


